{% include "employee_head.html" %}
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <div class="card mt-3 p-3">
            <form action="update_password" onsubmit="return validate()">
                <div class="mt-2">
                    <label class="form-label">Current Password</label>
                    <input type="text" id="current_password" name="current_password" placeholder="Enter Current Password" class="form-control">
                </div>
                <div class="mt-2">
                    <label class="form-label">New Password</label>
                    <input type="text" id="new_password" name="new_password" placeholder="Enter New Password" class="form-control">
                </div>
                <div class="mt-2">
                    <label class="form-label">Confirm New Password</label>
                    <input type="text" id="confirm_new_password" name="confirm_new_password" placeholder="Enter Confirm New Password" class="form-control">
                </div>
                <div class="mt-3 text-center">
                    <input type="submit" value="Change Password" class="btn btn-primary w-50">
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    function validate(){
        let new_password=document.getElementById("new_password").value
        let confirm_new_password=document.getElementById("confirm_new_password").value
        if(new_password!=confirm_new_password)
            {
                alert("new password and confirm new password does not matched")
                return false
            }
        return true
    }
</script>
